<!DOCTYPE html>
<html lang = "en">
    
<head>
    <meta charset = "UTF-8">
    <style>
        body {
            font-family: "New Century Schoolbook", serif;
            font-size: 1.0;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body style = "background-color: #222034;">
<h1>c a m p f i r e i f y</h1>
<p>
    homage to bitcamp, 2025
</p>


<h6>
    <div style = >
        courtesy of:
    </div>
    <div>
        Micah Lenus
    </div>
    <div>
        Nazia Rangwala-Vohra
    </div>
    <div>
        Elliot Paschane
    </div>
    <div>
        Tung Tran
    </div>
</h6>

<img src = "https://cdnb.artstation.com/p/assets/images/images/016/439/151/original/westen-fry-bonfire2x.gif?1552169136">


</body>




</html>